@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
}

p{
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
}

h1,h2{
  font-family: 'Inter', sans-serif;
}

h1{
  color: hsla(0, 0%, 100%, 0.85);
}

h2{
  font-size: 21px;
}

.container{
  width: 1110px;
  height: 446px;
  background: hsl(244, 38%, 16%);
  margin: 165px 177px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.imgColumn{
  background: url("images/image-header-desktop.jpg") no-repeat right;
  width: 540px;
  position: relative;
  border-radius: 0 8px 8px 0;
}

.image{
  background: rgb(116,10,151,0.46);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 8px 8px 0;
}

.txtColumn{
  padding: 60px;
}

.txtColumn h1{
  width: 400px;
}

.mainP{
  padding-top: 15px;
  width: 400px;
  text-align: left;
  line-height: 1.6;
}

.columnFooter{
  display: flex;
  width: 320px;
  justify-content: space-between;
}

.columnFooter div{
  padding-top: 100px;
  margin: 0;
}

.columnFooter p{
  padding-top: 8px;
  font-size: 8px;
  letter-spacing: 2px;
  font-weight: lighter;
}

#highlight{
  color: hsl(277, 64%, 61%);
}

.attribution{
  position: absolute;
  bottom: 10px;
  width: 100%;
}
@media (max-width: 500px){
  .container{
    flex-direction: column-reverse;
    width: 325px;
    height: 710px;
    margin: 100px 25px;
    justify-content: flex-end;
  }

  .imgColumn{
    background: url("images/image-header-mobile.jpg") no-repeat center;
    width: 325px;
    height: 230px;
    border-radius: 8px 8px 0 0;
  }

  .image{
    border-radius: 8px 8px 0 0;
  }

  .columnFooter{
    flex-direction: column;
  }

  .txtColumn{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
  }

  .txtColumn h1{
    font-size: 25px;
    width: 250px;
  }

  .mainP{
    font-size: 13px;
    padding-top: 15px;
    width: 230px;
    text-align: center;
    line-height: 1.8;
  }

  .columnFooter div{
    padding-top: 35px;
    margin: 0;
  }

  .columnFooter p{
    padding-top: 10px;
  }
}
